@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root{
  width:100%;
}


.login-div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table-div{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}